**/__pycache__
backend/core/data/MEP_data/B_W Films
backend/core/data/MEP_data/cuts
backend/core/data/MEP_data/finaldata
backend/core/data/synthetic_data/shots
backend/core/data/synthetic_data/videos
backend/core/data/synthetic_data/results
backend/core/data/synthetic_data/finaldata
backend/core/data/synthetic_data/trim_video
backend/core/model/trainedmodel
backend/uploads