**/__pycache__
cutdetectioncore/data/MEP_data/B_W films
cutdetectioncore/data/MEP_data/cuts
cutdetectioncore/data/MEP_data/snips
cutdetectioncore/data/MEP_data/finaldata
cutdetectioncore/data/synthetic_data/shots
cutdetectioncore/data/synthetic_data/videos
cutdetectioncore/data/synthetic_data/results
cutdetectioncore/data/synthetic_data/finaldata
cutdetectioncore/data/synthetic_data/trim_video
cutdetectioncore/csv_shots
cutdetectioncore/csv_cuts
cutdetectioncore/json_mep
cutdetectioncore/cinemetrics
/csv_shots
/csv_cuts
/json_mep
/cinemetrics
cutdetectioncore/shreyan_test
cutdetectioncore/trained-models
cutdetectioncore/model/trainedmodel/**
cutdetectioncore/model/hardcut/data
cutdetectioncore/model/hardcut/trainedmodel