**/__pycache__
data/MEP_data/B_W films
data/MEP_data/cuts
data/MEP_data/snips
data/MEP_data/finaldata
data/synthetic_data/shots
data/synthetic_data/videos
data/synthetic_data/results
data/synthetic_data/finaldata
data/synthetic_data/trim_video
/csv_shots
/csv_cuts
/json_mep
/shreyan_test
/trained-models
model/trainedmodel/**
model/hardcut/data
model/hardcut/trainedmodel